<p>
  <b>Produto:</b>
  <%=h @itens_minuta.produto_id %>
</p>

<p>
  <b>Qtde:</b>
  <%=h @itens_minuta.qtde %>
</p>


<%= link_to 'Alterar', edit_itens_minuta_path(@itens_minuta) %> |
<%= link_to 'Voltar', itens_minutas_path %>
