<h1>Item Nota Fiscal</h1>

<% form_for(@item_nota_fiscal) do |f| %>
  <%= f.error_messages %>

  <=% render :partial => 'form', :locals => {:f => f} %>
  
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

<%= link_to 'Voltar', itens_nota_fiscal_path %>
