<html>
    <head>
        <title>Grupo TubForm</title>
    </head>
        <%= javascript_include_tag :all %>
        <%= calendar_date_select_includes "silver" %>
    <body>
      <%= yield %>
    </body>
</html>
